<div class="container">
  <!-- Make this a template based condition check -->
  <div *ngIf="items.length === 0 ; then noItems else showItems"></div>

  <!-- Template for when there is no item to show -->
  <ng-template #noItems>
    There is no item to show!
  </ng-template>

  <!-- Template for item to show -->
  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of items">
        <div class="form-check">
          <label for="" class="form-check-label">
            <input type="checkbox" class="checkbox"> {{ item.wishText }}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>

  <!-- Conditional statement to show items -->
  <!-- <div *ngIf="items.length === 0">
    There is no wishes to display!
  </div>

  <ul *ngIf="items.length > 0" class="wish-list">
    <li *ngFor="let item of items">
      <div class="form-check">
        <label for="" class="form-check-label">
          <input type="checkbox" class="checkbox"> {{ item.wishText }}
        </label>
      </div>
    </li>
  </ul> -->
</div>